* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100vh; }

nav {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #000; }

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/header.jpg);
  background-size: cover; }

/*.cover::before{ darkfone
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}*/
.nav_above {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2rem 1rem;
  width: 80%;
  margin: 0 auto; }
  .nav_above > ul {
    display: flex;
    flex-direction: row; }
  .nav_above > ul > li {
    display: none;
    list-style: none; }
  .nav_above > ul > li:last-child {
    display: block; }

.logo {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 1.2rem; }

.mobile_logo {
  font-size: 1.5rem;
  color: #ECBA82; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.header_text {
  color: #FFF; }
  .header_text > h1 {
    font-size: 3rem;
    padding: 1rem 0; }
  .header_text > p {
    font-size: 1rem;
    padding: 2rem 0; }

.button {
  display: inline-block;
  background: #ECBA82;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s; }
  .button:hover {
    transform: scale(1.1); }

@media only screen and (min-width: 1024px) {
  .nav_above > ul > li {
    display: block;
    color: #FFF;
    padding-right: 2.5rem;
    position: relative; }

  .nav_above > ul > li:first-child::before {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    z-index: 1;
    left: 2rem;
    padding: 2px 7px;
    color: #808080;
    font-weight: 900; }

  .nav_above > ul > li:last-child {
    display: none; }

  .nav_above > ul > li:nth-child(8) {
    padding-right: 0; }

  .search_icon > a,
  .likes_icon > a,
  .cart_icon > a {
    color: #FFF; } }
section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #000; }

.upper_category {
  position: relative;
  top: -3rem;
  background: #ECBA82;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .upper_category > p {
    display: none; }
  .upper_category > h1 {
    font-size: 1.5rem; }

.category > figure::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.5; }

.category {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto; }
  .category > figure {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; }
  .category > figure > a {
    flex: 1; }
  .category > figure > a > img {
    max-width: 100%; }
  .category > figure > figcaption {
    align-self: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .category > figure > figcaption > h2, .category a {
    color: #FFF;
    font-size: 2.5rem; }
  .category > figure > figcaption > a {
    font-size: 1.2rem; }

@media only screen and (min-width: 1024px) {
  .upper_category {
    justify-content: space-between; }
    .upper_category > p {
      display: inline-flex;
      padding-left: .8rem; }
    .upper_category > h1 {
      font-size: 1.8rem; }

  .category {
    flex-direction: row;
    padding: 0 1rem;
    max-width: 75%; } }
@media only screen and (max-width: 669px) {
  .category {
    max-width: 80%; } }

/*# sourceMappingURL=style.css.map */
