.about_us_head{
  display: flex;
  flex-flow: column;
}
.about_us_left{
  display: flex;
  flex-flow: column;
  flex: 3;
  background: #E5E5E5;
}
.about_us_left_inside{
  display: flex;
  flex-flow: column;
  padding: 2rem;
}
.about_us_right{
  flex: 2;
  & > img{
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
       vertical-align: bottom;
  }
}
.left_inside_text{
  flex: 1;
  text-align: center;
 & > h2{
   padding-bottom: 2rem;
 }& > p{
   padding-bottom: 2rem;
 }
}
.left_inside_img{
  flex: 1;
  & > img{
    max-width: 100%;
    transform: translateY(7rem);
    -o-object-fit: cover;
       object-fit: cover;
  }
}


@media only screen and (min-width: 989px){
  .about_us_head{
    flex-flow: row;
  }
  .about_us_left{
    justify-content: center;
  }
  .left_inside_text{
    text-align: justify;
  }
  .about_us_left_inside{
    flex-flow: row;
    padding: 5rem;
   }
  .left_inside_img > img{
    max-width: 100%;
    transform: translateX(13rem);
   }
}
