/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.discover_new_collection{
  background: $black_color;
  padding-bottom: 5rem;
}
.discover_nc_head{
  background: $black_color;
  max-width: 100%;
  margin: 0 auto;
  transform: translateY(-3rem);
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  & > p{
    display: none;
    color: $white_color;
  }
  & > h1{
    @include adapFont;
    color: $white_color;
  }
}
.discovery_nc_img,
.wrap_both_item{
  display: flex;
  flex-flow: column;
}
.wrap_both_item{
  flex-flow: row;
  flex: 1;
}
.card_item{
  flex: 1;
  border: 1px solid $grey_outer_color;
  padding: 1rem;
  transition: 1s;
  display: flex;
  flex-flow: column;
   &:hover{
     border: 1px solid $white_color;
   }& > a{
     flex: 1;
   }
   & > a > img{
     height: 100%;
     width: 100%;
     -o-object-fit: cover;
     object-fit: cover;
   }
}
.info_item{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 1rem;
}

#name_item,
#price_item{
  color: $white_color;
  padding-bottom: .5rem;
  font-size: 1rem;
}

@media screen and (min-width: 989px) {
  .discover_nc_head{
    max-width: 80%;
  }
  .discovery_nc_img{
    flex-flow: row;
    max-width: 70vw;
    margin: 0 auto;
   }
   .info_item{
     align-items: start;
   }
   .buttons_footer > ul{
     flex-flow: row;
    &> ul > li{
     padding: 0;
    }
  }
}
