nav{
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-flow: column;
  background: $black_color;
}
ul > li > a{
   color: $white_color;
  &:hover{
   color:$beige_color;
  }&:after{
   content: '';
   display: block;
   background: $white_color;
   width: 0;
   height: 2px;
   transition: .5s;
 }&:hover:after{
   width: 100%;
 }
}
input[type='text']:focus{
  border-bottom-color: $beige_color;
}
.logo:hover{
  color:$beige_color;
}
.nav_main{
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  & > ul{
    display: flex;
    align-items: center;
    flex-flow: row;
  }& > ul > li{
   display: none;
   padding: 2rem .5rem;
   cursor: pointer;
  }& > ul > li:last-child{
   display: block;
 }
}
.logo{
  text-decoration: none;
  color: $white_color;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 2rem 0;
}
.mobile_logo{
  font-size: 1.5rem;
  color: $beige_color;
  & > span{
    display: flex;
    flex-flow: column;
    background: $beige_color;
    margin-bottom: 5px;
    width: 1.8rem;
    height: 3px;
  }
}
header{
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/header.jpg);
  -o-object-fit: cover;
     object-fit: cover;
}
.hamburger_menu_list{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $white_color;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s;
  & > li{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
  }& > li::after{
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: $black_color;
    transition: .5s;
  }& > li:hover::after{
    width: 100%;
  }& > li > a{
    display: block;
    color: $black_color;
    font-weight: bold;
  }& > li:not(:last-child){
    margin-bottom: 1rem;
  }
}
.menu_open .hamburger_menu_list{
  opacity: 1;
  transform: scale(1);
}
.hamburger_menu{
  color: $beige_color;
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
  z-index: 150;
}
.hamburger_menu .fa-times{
  display: none;
}
.menu_open .hamburger_menu .fa-times{
  display: block;
}
.menu_open .hamburger_menu .fa-bars{
  display: none;
}
.header_center{
  color: $white_color;
  text-align: center;
 & > h1{
  @include adapHeaderFont;
  padding: 1rem 0;
 }& > p{
  font-size: 1rem;
  padding: 2rem;
 }
}
.button{
  @include button;
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s;
  position: relative;
  z-index: 1;
  &::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: $white_color;
    left: 0;
    top: 0;
    transition: .3s;
    z-index: -1;
  }&:hover::before{
    width: 100%;
  }
}
@media only screen and (min-width: 1024px){
  .header_center{
    align-self: flex-start;
    padding: 0 9rem;
    text-align: start;
   & > p{
    padding: 2rem 0;
   }
 }
  .nav_main > ul > li{
    display: block;
    color: $white_color;
    padding-right: 2.5rem;
    position: relative;
  &:last-child{
    display: none;
  }&:nth-child(8){
    padding-right: 0;
   }
}
 .mobile_menu_hamburger{
   display: none;
 }
  .drop_down_menu > a{
    display: inline-block;
    color: $white_color;
  }
  .border_bottom_hover::after{
    content: '';
    display: block;
    width: 0;
    background: $white_color;
    height: 2px;
    transition: width .3s;
  }
  .border_bottom_hover:hover::after{
    width: 100%;
  }
  .drop_down_menu > ul{
    display: none;
    position: relative;
  }
  .drop_down_menu:hover > ul{
    background: $white_color;
    display: flex;
    flex-flow: column;
    width: 150%;
    position: absolute;
    transform: translateY(2rem);
    z-index: 1;
  }
  .drop_down_menu:hover > ul > li{
    transition: 1s;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
  &:hover{
    background: $beige_color;
  }& > a{
      color: $black_color;
      text-decoration: none;
      text-transform: uppercase;
  }& > a:hover::after{
    width: 0;
  }
 }
  .nav_main > ul > li:first-child::before{
    content: '\f0dd';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    z-index: 1;
    left: 3rem;
    color:#808080;
  }
  .search_icon > a,
  .likes_icon > a,
  .cart_icon > a{
    color: $white_color;
  }
}
