*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
  line-height: 2vh;
}
nav{
  position: relative;
  display: flex;
  flex-direction: column;
  background: $black_color;
}
header{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/header.jpg);
  -o-object-fit: cover;
     object-fit: cover;
}

.navMain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
  & > ul{
    display: flex;
    flex-direction: row;
  }& > ul > li{
   display: none;
   list-style: none;
   padding: 2rem .5rem;
  }& > ul > li:last-child{
   display: block;
  }
}
.logo{
  text-decoration: none;
  color: $white_color;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.mobile_logo{
  font-size: 1.5rem;
  color: $beige_color;
  & > span{
    display: flex;
    flex-flow: column;
    background: $beige_color;
    margin-bottom: 5px;
    width: 1.8rem;
    height: 3px;
  }
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headerCenter{
  color: $white_color;
  text-align: center;
 & > h1{
  @include adapHeaderFont;
  padding: 1rem 0;
 }& > p{
  font-size: 1rem;
  padding: 2rem 0;
 }
}
.button{
  @include button;
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s;
  &:hover{
  transform: scale(1.1);
  }
}
@media only screen and (min-width: 1024px){
  .headerCenter{
    align-self: flex-start;
    padding: 0 9rem;
    text-align: start;
  }
  .navMain > ul > li{
    display: block;
    color: $white_color;
    padding-right: 2.5rem;
    position: relative;
  }
  .drop_down_menu > a{
    color: $white_color;
    text-decoration: none;
  }
  .drop_down_menu > a > i{
    transition: .5s;
  }
  .drop_down_menu:hover a > i{
    transform: rotate(-180deg);
  }
  .drop_down_menu > ul{
    display: none;
    list-style:none;
    position: relative;
  }
  .drop_down_menu:hover > ul{
    background: $white_color;
    display: flex;
    flex-flow: column;
    width: 150%;
    position: absolute;
    transform: translateY(3px);
    z-index: 10;
  }
  .drop_down_menu:hover > ul > li{
    transition: 1.5s;
    width: 100%;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
  }
  .drop_down_menu > ul > li:hover{
    background: $beige_color;
  }
  .drop_down_menu> ul > li > a{
      color: $black_color;
      text-decoration: none;
      text-transform: uppercase;
  }
  // .navMain > ul > li:first-child::before{
  //   content: '\f107';
  //   font-family: 'Font Awesome 5 Free';
  //   position: absolute;
  //   z-index: 1;
  //   left: 3rem;
  //   padding: 2px 7px;
  //   color:#808080;
  //   font-weight: 900;
  // }
  .navMain > ul > li:last-child{
    display: none;
  }
  .navMain > ul > li:nth-child(8){
    padding-right: 0;
  }
  .search_icon > a,
  .likes_icon > a,
  .cart_icon > a{
    color: $white_color;
  }
}
