@mixin button {
  display: inline-block;
  border: 1px solid $black_color;
  // background: $beige_color;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  color: $black_color;
}
@mixin adapFont{
  font-size: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
}
@mixin adapCategFont {
  font-size: calc(22px + (42 - 22) * ((100vw - 320px) / (1920 - 320)));
}
@mixin adapHeaderFont {
  font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
}
@mixin adaptItemCardFont {
  font-size: calc(22px + (30 - 22) * ((100vw - 320px) / (1920 - 320)));
}
@mixin adapFontProductPage{
  font-size: calc(16px + (30 - 22) * ((100vw - 320px) / (1920 - 320)));
}
@mixin slider_buttons_main_page {
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
}
